<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="https://image.flaticon.com/icons/svg/252/252035.svg" width="30" height="30" class="d-inline-block align-top" alt="">
    Weather today
  </a>
</nav>
