<div class="table-responsive">
  <table class="table table-bordered table-sm bg-light">
    <thead>
      <tr>
        <th>Date and time</th>
        <th>Temperature</th>
        <th>Probability of precipitation</th>
        <th>Wind speed</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of hourly" class="text-right">
        <td>{{ item.dt * 1000 | date:'dd-MM-yyyy HH:mm' }}</td>
        <td>{{ item.temp }}°C</td>
        <td>{{ item.pop }}%</td>
        <td>{{ item.wind_speed }} m/s</td>
      </tr>
    </tbody>
  </table>
</div>
